/* Hintergrundfarbe der 3.Zeile ändern (Geschäftspartner) */
.sapMList {
    background-color: #24eee4a4;
    color: #f50c0c;
  }
  /* Hintergrundfarbe Überschrift */
  .sapMTitle {
    background-color: #4bfaf1;
    text-align: center;
  }
  .sapFFCLColumn {
    background-color: #ce0909;
    border: 3px solid #080404;
    
    color: rgb(53, 196, 72);
    }
    /* Spalten */
  .sapMText {
    background-color: #ffad00;
    border: 3px solid #080404;
    
    color: rgb(53, 196, 72);
    }
    /* Suchsymbol */
    .sapMSFS {
      background-color: #e9fc40;
      border: 3px solid #080404;
      
      color: rgb(53, 196, 72);
      }
sapUiBodyBackground {
    background-color: rgb(34, 216, 223);
    color: rgb(36, 57, 177);
}